*{
  margin: 0%;
  padding: 0%;
}
.main{
  display: flex;
  justify-content: space-between;
  background-color: black;
}
ul{
list-style-type: none;
justify-content: space-between;
display: flex;
padding-top: 12px;
padding-right: 10px;
width: 400px;
}
body{
  background-image: url(https://pa1.narvii.com/7403/c3bf9834bdc2630f83bbdbf61042d4a63d5d1f62r1-540-304_hq.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}
 a{
  text-decoration: none;
  color: aqua;
 }
 a:hover{
  color: red;
 }
 h1{
  color:rgb(97, 226, 228);
  padding-top: 20%;
  text-align: center;
  font-family: monospace;
  text-shadow: 10px 10px 10px aqua;
 }

